<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body style="overflow: hidden">
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Bali Fruit Company</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/customer}">Customers</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/order}">Orders</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/caret}">Carets</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Logout</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Create HTML registration form -->
<div class="container" style="padding:5%">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>

                Welcome <span sec:authentication="principal.username"></span>

                <h2>Welcome</h2>
                <p>Spring Security Thymeleaf tutorial</p>
                <div sec:authorize="hasRole('USER')">Text visible to user.</div>
                <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
                <div sec:authorize="isAuthenticated()">
                    Text visible only to authenticated users.
                </div>
                Authenticated username:
                <div sec:authentication="name"></div>
                Authenticated user roles:
                <div sec:authentication="principal.authorities"></div>


            </div>
        </div>
</div>

</body>
</html>
